projects/*.exe
projects/*.ppx
projects/*.tag
projects/*.sdf
projects/*.suo
projects/*.user
projects/*.sln
projects/*.data
projects/Debug/
projects/Release/
projects/output/
*.data
keyvalsto
keyvalsto.exe